{
  "extends": "airbnb",
  "globals": {
    "beforeEach": false,
    "describe": false,
    "before": false,
    "after": false,
    "it": false,
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
