{
  "extends": ["airbnb", "react-app", "plugin:prettier/recommended"],
  "globals": {
    "beforeEach": false,
    "describe": false,
    "before": false,
    "after": false,
    "it": false
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "react/jsx-one-expression-per-line": [0],
    "import/no-unresolved": "off",
    "no-console": "off",

    // TEMP: these should be enabled in the future
    // TODO: fix lint errors
    "no-param-reassign": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off"
  }
}
