* {
  box-sizing: border-box;
}

body {
  background: #fbfcfd;
  color: #2d3748;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
}

input {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

image {
  display: block;
}
